.layout {
  display: flex;
  align-items: flex-start;
  gap: 2.2rem;
  width: 100%;
  padding: 2rem 1rem;
}

.wrapper {
  flex: 1;
  min-width: 0;
  margin-left: 2%;
  max-width: 1440px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
