.footer {
  background: var(--ifm-background-surface-color);
  padding: 1rem 0;
}

.container {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
  border-top: 1px solid var(--ifm-color-emphasis-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.copyright {
  font-size: 0.85rem;
  color: var(--ifm-color-emphasis-600);
}