NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_PAID_UPGRADE_PRICE_INR_PAISE=
NEXT_PUBLIC_BUNNY_STORAGE_ZONE=
NEXT_PUBLIC_BUNNY_STORAGE_ACCESS_KEY=
NEXT_PUBLIC_BUNNY_STORAGE_HOSTNAME=
NEXT_PUBLIC_BUNNY_PULL_ZONE_URL=
